[submodule "3rd/cChord"]
	path = src/3rd/cChord
	url = https://github.com/FogKV/cChord.git
[submodule "src/3rd/pmemkv"]
	path = src/3rd/pmemkv
	url = https://github.com/pmem/pmemkv.git
[submodule "src/3rd/linenoise"]
	path = src/3rd/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "src/3rd/cpu-stat"]
	path = src/3rd/cpu-stat
	url = https://github.com/vivaladav/cpu-stat
