*.o
*.a
*.pyc
*.csv
.*.swp
*.d
.cproject
.project
.settings
.pydevproject
build
bin
config.log
cmake_install.cmake
project_protobuf-prefix
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing