[submodule "third-party/spdk"]
	path = third-party/spdk
	url = https://github.com/spdk/spdk.git
	ignore = dirty
[submodule "third-party/pmdk"]
	path = third-party/pmdk
	url = https://github.com/pbalcer/nvml.git
	ignore = dirty
[submodule "third-party/HdrHistogram_c"]
	path = third-party/HdrHistogram_c
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
	ignore = dirty
[submodule "third-party/libconfig"]
	path = third-party/libconfig
	url = https://github.com/hyperrealm/libconfig.git
	ignore = dirty
[submodule "src/3rd/linenoise"]
	path = examples/clinode/linenoise
	url = https://github.com/antirez/linenoise.git
	ignore = dirty
[submodule "third-party/libpmemobj-cpp"]
	path = third-party/libpmemobj-cpp
	url = https://github.com/pmem/libpmemobj-cpp.git
	ignore = dirty
[submodule "third-party/eRPC"]
	path = third-party/eRPC
	url = https://github.com/anujkaliaiitd/eRPC.git
	ignore = dirty
[submodule "third-party/eRPC-fork"]
	path = third-party/eRPC-fork
	url = https://github.com/daq-db/eRPC.git
	ignore = dirty
